{{ define "body" }}
{{/* 家页面模板 */}}

<div class="UserInput">{{.Content}}</div>

<!-- 遍历 -->
{{ range .Paginator.Pages }}
<div class="mingHomeItem">
    <!-- 显示信息 -->
    <div class="attachInfo">
        <p>{{ .Date.Format "Monday, Jan 2, 2006" }} - {{ .Params.categories }}</p>
    </div>

    <!-- 显示 链接 -->
    <div class="linker">
        <h1><a href="{{ .Permalink }}">{{ .Title }}</a></h1>
    </div>

    <!-- 显示 摘要 -->
    <div>
        <article>
            {{ .Summary }}
        </article>
    </div>

    <!-- 显示 read more -->
    <div>
        <a href="{{ .Permalink }}" class="readMore">Read More →</a>
    </div>

    <!-- End -->
</div>
{{ end }}

<!-- 翻页按钮 -->
<div>
    <!-- 上/下一页 -->
    {{ if .Paginator.HasNext }}
    <a class="olderButton" href="{{ .Paginator.Next.URL }}">← Older</a>
    {{ end }}

    {{ if .Paginator.HasPrev }}
    <a class="newerButton" href="{{ .Paginator.Prev.URL }}">Newer →</a>
    {{ end }}
</div>

{{ end }}