// 定义一些数据

// 重置填充和轮廓
@mixin mingInit() {
    margin: 0;
    padding: 0;
}

// 设置轮廓
@mixin mingContent() {
    margin: 0 16%;
    padding: 0px;
}

// 颜色过度
@mixin colorTransition() {
    -webkit-transition: color 0.8s;
    -moz-transition: color 0.8s;
    -o-transition: color 0.8s;
    transition: color 0.8s;
}

// 背景颜色过度
@mixin backgroundColorTransition() {
    -webkit-transition: background-color 0.8s;
    -moz-transition: background-color 0.8s;
    -o-transition: background-color 0.8s;
    transition: background-color 0.8s;
}