// 页脚的样式

@use 'define.scss';

.mingFooter {
    @include define.mingContent();

    // 渐变色
    background-image: linear-gradient(rgb(224, 224, 224), rgb(204, 204, 204), rgb(176, 176, 176));

    // 填充
    padding-bottom: 25px;
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 25px;

    // 给底部留下一点空间
    margin-bottom: 50px;

    // 圆角
    border-radius: 0 0 10px 10px;

    // 重置样式
    p h1 h2 h3 h3 h5 h6 {
        @include define.mingInit();
        color: #6b6b6b;
    }

    // 列表样式
    ul {
        @include define.mingInit();
        list-style-type: none;
        overflow: hidden;
    }

    li {
        @include define.mingInit();
    }

    // 链接样式
    a {
        text-decoration: none;
        color: #6b6b6b;
        text-align: center;

        -webkit-transition: color 0.6s;
        -moz-transition: color 0.6s;
        -o-transition: color 0.6s;
        transition: color 0.6s;

        &:hover {
            color: #3a3a3a;
        }
    }
}