// ming header样式表

@use 'define';

// 横幅样式
.mingHeader {
    @include define.mingContent;

    background-color: #333;

    padding: 30px 10px;

    h1 {
        @include define.mingInit;
        font-size: 48px;
        font-weight: normal;
        line-height: 1.2em;
        text-align: center;

        // 左右填充图片的大小
        // 使得文字居中
        padding-left: 128px;
        padding-right: 128px;

        a {
            text-decoration: none;
            color: white;
        }
    }

    h2 {
        margin-top: 20px;
        text-align: center;

        // 同上
        padding-left: 128px;
        padding-right: 128px;

        color: #aaa;
        font-size: 1.1em;
    }

    img {
        width: 100px;
        height: 100px;
        padding-right: 28px;
        float: right;
    }

}