// 导航栏样式

@use 'define';

.mingNavigation {
    @include define.mingContent();

    // 设置背景颜色并填充
    background-image: linear-gradient(#e0e0e0, #cccccc, #b0b0b0);
    padding: 13px 20px;

    // 表格样式
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }

    // 条目样式
    li {
        @include define.mingInit();
        float: left;
        border-right: 1px solid rgb(124, 124, 124);

        &:last-child {
            border-right: none;
        }
    }

    // 链接样式
    a {
        text-decoration: none;
        color: #6b6b6b;
        display: block;
        text-align: center;

        padding-left: 30px;
        padding-right: 30px;

        font-size: 20px;

        // 设置渐变动画
        -webkit-transition: color 0.8s;
        -moz-transition: color 0.8s;
        -o-transition: color 0.8s;
        transition: color 0.8s;

        &:hover {
            color: #3a3a3a;
        }
    }

}