// 首页导航样式

@use '../define.scss';

.mingHomeItem {
    @include define.mingInit();

    padding: 20px 40px;

    // 附加信息（日期-分类）的样式
    .attachInfo {
        p {
            color: #6b6b6b;
        }
    }

    // 设置链接格式
    .linker {
        a {
            text-decoration: none;
            color: rgb(15, 15, 15);
            text-align: center;

            @include define.colorTransition();

            &:hover {
                color: #0178ff;
            }
        }
    }

    // 项目摘要样式
    article {

        // 链接样式
        h1 {
            a {
                text-decoration: none;
                color: rgb(15, 15, 15);
                text-align: center;

                @include define.colorTransition();

                &:hover {
                    color: #0178ff;
                }
            }
        }


    }

    // 分割线
    border-color: #6b6b6b;
    border-bottom-style: dotted;
    border-width: 1px;

    // 继续阅读按钮
    .readMore {
        background-color: #f0f0f0;
        color: black;

        padding: 15px 20px;

        text-decoration: none;

        display: block;

        width: 120px;

        text-align: center;

        @include define.backgroundColorTransition();
        @include define.colorTransition();

        &:hover {
            background-color: #0077ff;
            color: white;
        }
    }
}

// 按钮模板
%mingTuenPageButton {
    color: #6b6b6b;

    text-decoration: none;

    @include define.colorTransition();

    padding: 10px 20px;

    &:hover {
        color: #3a3a3a;
    }
}

// 下一页按钮
.olderButton {
    @extend %mingTuenPageButton;

    float: left;
}

// 上一页按钮
.newerButton {
    @extend %mingTuenPageButton;

    float: right;
}