{{/* ming列表页面 */}}

{{ define "body" }}
{{/* 家页面模板 */}}

<div class="UserInput">{{.Content}}</div>

<!-- 遍历分页器 -->
{{ range .Paginator.Pages }}
<div class="mingListItem">

    <!-- 显示 时间 -->
    <p>{{ .Date.Format "Jan 2, 2006" }}</p>

    <!-- 显示 链接 -->
    <h1><a href="{{ .Permalink }}">{{ .Title }}</a></h1>

    <!-- End -->
</div>
{{ end }}

<!-- 翻页按钮 -->
<div>
    <!-- 上/下一页 -->
    {{ if .Paginator.HasNext }}
    <a class="olderButton" href="{{ .Paginator.Next.URL }}">← Older</a>
    {{ end }}

    {{ if .Paginator.HasPrev }}
    <a class="newerButton" href="{{ .Paginator.Prev.URL }}">Newer →</a>
    {{ end }}
</div>

{{ end }}