<!--侧边栏-->
<!--仅生产力设备存在-->

<aside class="mingSider">

    <p>欢迎来到本站[]~（￣▽￣）~*</p>

    <!--显示天气图标-->
    <div>
        <iframe style="overflow: hidden;display: flex;width:100%" width="300" height="30" frameborder="0" scrolling="no" hspace="0" src="https://i.tianqi.com/index.php?c=code&id=34&icon=1"></iframe>
    </div>

    <!--显示推文-->
    <div>
        <a class="twitter-timeline" data-lang="zh-cn" data-height="2048" href="https://twitter.com/ming_moe_?ref_src=twsrc%5Etfw">Tweets by ming_moe_</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>

</aside>